html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
}
body {
  display: grid;
html:fullscreen,
html:fullscreen body {
  width: 100vw;
  height: 100vh;
  background: #111;
}

  place-items: center;
}
canvas {
  display: block !important;
  width: min(100vw, 150vh) !important;
  height: min(100vh, 66.6667vw) !important;
  aspect-ratio: 3 / 2;
}
